<!DOCTYPE html>

<html lang="{{html_lang}}">

<head>
    <meta charset="utf-8">
    <style>{{styles}}</style>

</head>

<body>

<main>

    <article class="page">

        {{header}}

        <div class="rule"></div>

        {{summary}}

        <div class="rule"></div>

        {{projects}}

        <div class="rule"></div>

        {{experiences}}

    </article>

    <article class="page">

        {{earlier_experiences}}

        <div class="rule"></div>

        {{education}}

    </article>

</main>

</body>

</html>