<section class="cv-section summary-section">

    <div class="section-title">
        {{summary_title}}
    </div>

    <div class="summary-intro">
        {{intro}}
    </div>

    <div class="summary-grid">

        <div class="summary-block">

            <div class="summary-subtitle">
                {{built_systems_title}}
            </div>

            <ul class="summary-list">
                {{built_systems}}
            </ul>

        </div>

        <div class="summary-block">

            <div class="summary-subtitle">
                {{previous_systems_title}}
            </div>

            <ul class="summary-list">
                {{previous_systems}}
            </ul>

        </div>

    </div>

    <div class="summary-footer">

        <div class="summary-meta">

        <span class="summary-meta-label">
            {{technical_skills_title}}
        </span>

            <span class="summary-meta-value">
            {{technical_skills}}
        </span>

        </div>

        <div class="summary-meta">

        <span class="summary-meta-label">
            {{certifications_title}}
        </span>

            <span class="summary-meta-value">
            {{certifications}}
        </span>

        </div>

    </div>

</section>
